<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.github.wgzhao.dbquery.mapper.QueryMapper">
    <resultMap id="queryConfigMap" type="com.github.wgzhao.dbquery.entities.QueryConfig">
        <result property="selectId" column="select_id" />
        <result property="querySql" column="query_sql" />
        <result property="dataSource" column="data_source" />
        <result property="cacheTime" column="cache_time" />
        <result property="isEnable" column="is_enable" />
        <result property="enableCache" column="enable_cache" />
    </resultMap>
    <select id="queryConfigBySelectId" parameterType="String" resultMap="queryConfigMap">
        SELECT * FROM query_config WHERE select_id = #{selectId}
    </select>

    <resultMap id="queryParamsMap" type="com.github.wgzhao.dbquery.entities.QueryParams">
        <result property="selectId" column="select_id" />
        <result property="paramName" column="param_name" />
        <result property="paramType" column="param_type" />
    </resultMap>

    <select id="queryParamsBySelectId" parameterType="String" resultMap="queryParamsMap">
        SELECT * FROM query_params WHERE select_id = #{selectId}
    </select>

    <resultMap id="querySourceMap" type="com.github.wgzhao.dbquery.entities.DataSources">
        <result property="name" column="name" />
        <result property="url" column="url" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="driver" column="driver" />
    </resultMap>

    <select id="queryDataSourceBySourceName" parameterType="String" resultMap="querySourceMap">
        SELECT * FROM data_sources WHERE name = #{sourceName}
    </select>

    <resultMap id="querySignMap" type="com.github.wgzhao.dbquery.entities.SignEntity">
        <result property="appId" column="app_id" />
        <result property="appKey" column="app_key" />
    </resultMap>

    <select id="querySignByAppId" parameterType="String" resultMap="querySignMap">
        SELECT * FROM signs WHERE app_id = #{appId}
    </select>

    <resultMap id="saveSignMap" type="com.github.wgzhao.dbquery.entities.SignEntity">
        <result property="appId" column="app_id" />
        <result property="appKey" column="app_key" />
    </resultMap>

    <insert id="saveSign" parameterType="com.github.wgzhao.dbquery.entities.SignEntity">
        INSERT INTO signs(app_id, app_key, applier) VALUES(#{appId}, #{appKey}, #{applier})
    </insert>

    <resultMap id="saveQueryConfigMap" type="com.github.wgzhao.dbquery.entities.QueryConfig">
        <result property="selectId" column="select_id" />
        <result property="querySql" column="query_sql" />
        <result property="dataSource" column="data_source" />
        <result property="cacheTime" column="cache_time" />

    </resultMap>
    <insert id="saveQueryConfig" parameterType="com.github.wgzhao.dbquery.entities.QueryConfig">
        INSERT INTO query_config(select_id, query_sql, data_source, cache_time) VALUES(#{selectId}, #{querySql}, #{dataSource}, #{cacheTime})
    </insert>

    <resultMap id="saveQueryParamsMap" type="com.github.wgzhao.dbquery.entities.QueryParams">
        <result property="selectId" column="select_id" />
        <result property="paramName" column="param_name" />
        <result property="paramType" column="param_type" />
    </resultMap>
    <insert id="saveQueryParams" parameterType="com.github.wgzhao.dbquery.entities.QueryParams">
        REPLACE INTO query_params(select_id, param_name, param_type) VALUES(#{selectId}, #{paramName}, #{paramType})
    </insert>

    <delete id="deleteQueryConfig" parameterType="String">
        DELETE FROM query_config WHERE select_id = #{selectId}
    </delete>

    <delete id="deleteQueryParams" parameterType="String">
        DELETE FROM query_params WHERE select_id = #{selectId}
    </delete>

    <!-- logging execute sql statement for audit -->
    <insert id="saveQuerySql" >
        INSERT INTO query_logs(app_id, select_id, query_sql) VALUES(#{appId}, #{select_id}, #{querySql})
    </insert>
</mapper>

